# To use the WandB API key
dotenv==0.9.9

# To display figures
notebook==6.5.4
traitlets==5.9.0
ipython==8.12.0
jupyter_contrib_nbextensions==0.7.0
matplotlib==3.10.1
seaborn==0.13.2
tqdm==4.67.1

# To run ML
numpy==1.26.4
torchmetrics==0.10.3
scipy==1.15.2
scikit_learn==1.6.1
wandb==0.19.10
